@CHARSET "utf-8";
video#bgvid { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(polina.jpg) no-repeat;
    background-size: cover; 
}

#index p
{
	text-align: center;
}

#index h1 {
	display:block;
	text-align:center;
	font-weight: 200;
	font-size: 5em;
	margin-bottom: 0;
	vertical-align: middle;
	color: #FFFFFF;
}
#index h2{
	display: block;
	font-size: 150%;
	letter-spacing: 0;
	padding-top:20px;
	padding-bottom:20px;
	color: #f8f3f8;
	text-align: center;
}

.main-button-container
{
	width: 40%;
	margin:0px auto;
}

.content
{
	background: #FF9E00;

}

.m_content
{
	padding-top: 70px;
	width: 960px;
	margin: 0px auto;
}
.joincontent
{
	width: 480px;
	margin: 0px auto;
}
.menu_title
{
	font-size:300%;
	font-weight: bold;
	color: #f2f2f2;
	padding-top:20px;
	padding-bottom: 20px;
}
footer p
{
	text-align: center;
	color: #f2f2f2;
	clear: both;
}

.box2
{
	width: 480px;
	margin: 0px auto;
	display: block;
	height: 100px;
	background: #FF9E00;
	
}

.box2 button
{
	width: 205px;
}