@CHARSET "utf-8";
video#bgvid { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(polina.jpg) no-repeat;
    background-size: cover; 
}

#index p
{
	text-align: center;
}


#index h1 {
	display:block;
	text-align:center;
	font-weight: 200;
	font-size: 5em;
	margin-bottom: 0;
	vertical-align: middle;
	color: #FFFFFF;
}
#index h2{
	display: block;
	font-size: 150%;
	letter-spacing: 0;
	padding-top:20px;
	padding-bottom:20px;
	color: #f8f3f8;
	text-align: center;
}

.main-button-container
{
	width: 40%;
	margin:0px auto;

	
}
